.About {
  background-color: #2C2C2C;
  padding: 150px 0;
}


.aboutRow {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    width: 50%;
    color: #ffffff;

    &_title {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
    }

    &_subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
    }

    &_info {
      color: #E4E4E4;
      font-style: normal;
      font-size: 18px;
    }

    &_btn {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      background-color: #E2A300;
      border: none;
      padding: 14px 40px;
      box-shadow: 0 2px 13px rgba(226, 158, 0, 0.48);
      border-radius: 6px;
    }
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &_circle {
      width: 475px;
      height: 475px;
      position: relative;
      border-radius: 50%;
      border: 13px solid #00C4F0;
      box-sizing: border-box;
      filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
      transition: 0.8s;

      span {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #ffffff;
        position: absolute;
        transition: 0.8s;
        cursor: pointer;

        .aboutRow__right_circle_firebase-logo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          z-index: -1;
        }
      }
      span:hover{
        transition: 2s;
        transform: rotate(360deg);
      }

      &_react {
        left: calc(-13px + -70px);
        top: 50%;

      }

      &_firebase {
        left: -13px;
        top: 0;
        position: relative;

      }

      &_js {
        left: -13px;
        top: 80%;
        img{
          border-radius: 50%;
        }
      }

      &_webapp {
        left: 50%;
        top: 50%;
        right: 50%;
        bottom: 50%;
        white-space: nowrap;
      }

    }
  }

}
